<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button [color]="view === 'list' ? 'light' : 'default'" fill="solid" (click)="toggleView('list')">
                <ion-icon name="list"></ion-icon>
            </ion-button>
            <ion-button  [color]="view === 'list' ? 'default' : 'light'" fill="solid" (click)="toggleView('single')">
                <ion-icon name="grid"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{ questionsCategory }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="questions">
    <!-- <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{ questionsCategory }}</ion-title>
        </ion-toolbar>
    </ion-header> -->

    <!-- <p *ngFor="let item of data | async">{{ item | json }}</p> -->
    <ng-container *ngIf="view === 'list'">
        <ion-item detail button *ngFor="let item of questions">
            <ion-label class="ion-text-wrap" (click)="showAnswer(item)">
                <ion-text>{{ item.question }}</ion-text>
            </ion-label>
        </ion-item>
    </ng-container>

    <ng-container *ngIf="view === 'single'">
        <ion-card>
            <ion-item lines="none">
                <ion-buttons slot="end" (click)="viewAnswer = false; repeat()">
                    <i class="fas fa-undo"></i>
                </ion-buttons>
            </ion-item>
            <ion-card-header>
                <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
                <ion-card-title>
                    {{ currentQuestion.question }}
                </ion-card-title>
            </ion-card-header>
            <ion-card-content [class.ion-text-center]="!viewAnswer">
                <span *ngIf="!viewAnswer" (click)="viewAnswer = true">Посмотреть ответ</span>
                <ng-container *ngIf="viewAnswer">
                    <p>{{ currentQuestion.answer }}</p>
                    <p>
                        <a *ngFor="let link of currentQuestion.links" [href]="link">{{ link }}</a>
                    </p>
                </ng-container>
            </ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col class="ion-text-center">
                        <ion-button fill="solid" color="primary" (click)="viewAnswer = false; nextQuestion()">Следующий вопрос</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card>
    </ng-container>
</ion-content>
