<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button text="Назад"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Ответ
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="item">
    <ion-grid>
        <ion-row>
            <ion-col>
                <h1>{{ item.question }}</h1>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>{{ item.answer }}</ion-col>
        </ion-row>
        <ion-row>
            <ion-col *ngFor="let link of item.links">
                <a [href]="link">{{ link }}</a>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
